:root{
    --color-primario:#1c1f2d;
    --color-secundario:#303447;
    --color-texto:#a4a5ab;
    --color-cta:#0FAF59;
    --color-cta2:#444b5d;
    --color-blanco:#FFFFFF;
    --color-azul:#2B99FF;
    --color-rojo: #ff2a2a;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: var(--color-blanco);
    background-color: var(--color-primario);
    text-align: center;
}



h1{
    font-size: 2.3rem;
}
h2, h3{
    font-size: 2rem;
}
p, li{
    font-size: 16px;
    color: var(--color-texto);
}
@media (min-width:760px){
    h1{
        font-size: 6rem;
    }
    h2, h3{
        font-size: 3.2rem;
    }
    p, li{
        font-size: 2.1rem;
        color: var(--color-texto);
    }
}

.boton-principal{
    background-color: var(--color-cta);
    padding: 1.5rem;
    border-radius: 1rem;
}
.boton-principal a{
    color: var(--color-blanco);
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: 600;
}

.boton-secundario{
    background-color: var(--color-cta2);
    padding: 1.5rem;
    border-radius: 1rem;
}
.boton-secundario a{
    color: var(--color-blanco);
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: 600;
}
a{
    color: var(--color-blanco);
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: 600;
}
.enlace{
    color: var(--color-blanco);
    font-weight: 600;
}

/*logo*/
header img{
    height: 4rem;
    width: 4rem;
    margin: 2rem 0 ;
}

/*MAIN*/
.main{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 90%;
    margin: 0rem auto;
}
@media (min-width:760px){
    .main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap:8rem;
        margin: 3rem auto;
    }
    .main h1, .main p, .enlace{
        grid-column: 1 / 3;
    }
    .main p{
        width: 80%;
        margin: 0 auto;
    }
    .main * {
        margin:  0;
    }
}


.background-section {
    position: relative;
    background-color: var(--color-primario); /* Color de fondo con transparencia */
    background-image: url('../img/frecuencias2.png'); /* Ruta a tu imagen de fondo */
    background-size:cover; /* Para que la imagen cubra toda la sección */
    background-position: bottom;
    background-blend-mode: overlay; /* Mezcla el color de fondo y la imagen */
    text-align: center;
}

video{
    width: 100%;
    margin: 5rem 0;
}
@media (min-width:760px){
    video{
        width: 60%;
    }
}
.contenedor{
    width: 90%;
    margin: 0 auto;
}
@media (min-width:760px){
    .contenedor{
        width: 60%;
    }
}

/*SECCION DE "CONTENIDO DEL ENTRENAMIENTO"*/

.navegacion{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
@media (min-width:760px){
    .navegacion{
        flex-direction: row;
    }
}
.bloques-contenido{
    background-color: var(--color-secundario);
    padding: 1rem;
    margin: 3rem auto;
    text-align: left;
}
.bloques-contenido h3{
    margin: 0 auto 3rem auto;
}
.bloques-contenido ul{
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-image: url('../img/comprobadoAzul.png');
}


/*Seccion de profesionales*/

.bloques-profes{
    background-color: var(--color-secundario);
    padding: 1rem;
    margin: 3rem auto;
    text-align: center;
}
.bloques-profes img{
    max-width: 100%;
    margin: 0;
    border-radius: 1rem 1rem 0 0;
}
.profesionales img{
    max-width: 14rem;
    text-align: center;
    margin: 0 auto;
}
@media (min-width:760px){
    .profesionales{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 3rem;
    }
    .profesionales img{
        max-width: 18rem;
    }
}

/*SECCION DE "PRECIOS"*/
@media (min-width:760px){
    .precios{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:1rem;
    }
    .precios h2{
        grid-column: 1 / 4;
    }
}
.bloques-precios{
    background-color: var(--color-blanco);
    padding: 0;
    margin: 3rem auto;
    text-align: center;
    border: solid var(--color-texto) 1px;
}
.encabezado-bloque{
    background-color: var(--color-secundario);
    padding: 1rem;
}
.precio{
    font-size: 6rem;
    font-weight: 700;
    color: var(--color-cta);
}
.precio span {
    font-size: 2rem;
}
.bloques-precios ul{
    list-style-image: url('../img/comprobado.png');
    margin: 3rem;
}
.bloques-precios .azul{
    list-style-image: url('../img/comprobadoAzul.png');
}
.bloques-precios .rojo{
    list-style-image: url(../img/comprobadoRojo.png);

}
.bloques-precios hr{
    width: 80%;
    margin: 1rem auto;
    opacity: 50%;
}
.boton-adquirir{
    width: 50%;
    margin: 3rem auto;
}
.tachado{
    text-decoration: line-through;
    list-style-image: url(../img/tachado.png);
}
.azul{
    color: var(--color-azul);
}
.bgazul{
    
    background-color: var(--color-azul);
}
.rojo{
    color: var(--color-rojo);
}
.bgrojo{
    
    background-color: var(--color-rojo);
}

/* TESTIMONIOS */
.testimonios{
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.testimonios video{
    margin: .2rem 0;
    width: 97%;
}
.testimonios-videos{
    padding: 0.4rem;
}
@media (min-width:760px){
    .testimonios video{
        width: 100%;
    }
    .testimonios-videos{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
        padding: 1rem;
    }
}

/* OBJESIONES */
.garantia img{
    max-width: 14rem;
}
@media (min-width:760px){
    .garantia img{
        max-width: 18rem;
    }
}
